# Introduction

## __Project Goals__
Provide an overview of incidents that involve fireworks.
* Frequency by Date 
* Age Group(s) most affected
* Frequency of Injury Type(s)

<br>
### About the Data

Source: [Firework Injury Reports](https://www.cpsc.gov/cgibin/NEISSQuery/UserCriteria.aspx?UserAff=5x08cgz9T6YPDAZJzvlZjA%3d%3d&UserAffOther=9OYR9kUytIsLilKZieD5xg%3d%3d)

The following notebook represents steps that were taken to organize and clean 5 excel files that consist of incident reports involving fireforks over the past 5 years from the CPSC (United States Consumer Product Safety Commision)


The data that was aquired was in excel format and was over 200MB in size. The data needed to be converted to csv since reading excel into pandas is extremely slow.  CSV does create a large file but the trade off for increased reading speeds is worth it.

<br> 

### Inspiration For Project
- https://www.valuepenguin.com/who-uses-most-fireworks-united-states

- https://www.americanpyro.com/industry-facts-figures

<br>

### Tools Used: 
* Pandas

# Begin Cleaning Process

### Import Libraries

In [7]:
import pandas as pd

In [9]:
filelist = ['NEISS_2016.csv','NEISS_2017.csv','NEISS_2018.csv','NEISS_2019.csv','NEISS_2020.csv']
df = pd.concat(map(pd.read_csv, filelist))
df.head(3)

,CPSC_Case_Number,Treatment_Date,Age,Sex,Race,Other_Race,Hispanic,Body_Part,Diagnosis,Other_Diagnosis,...,Fire_Involvement,Alcohol,Drug,Product_1,Product_2,Product_3,Narrative,Stratum,PSU,Weight
0,160101845,1/1/16,92,1,0,NaN,NaN,79,57,NaN,...,0,NaN,NaN,1645,1807,0,92YOM TRYINGO TO TAKE OFF PANTS AND LOST BALAN...,M,63,103.2251
1,160101847,1/1/16,90,1,0,NaN,NaN,79,57,NaN,...,0,NaN,NaN,670,0,0,90YOM FELL GETTING OUT OF A RECLINER CHAIR AND...,M,63,103.2251
2,160101848,1/1/16,71,2,0,NaN,NaN,79,57,NaN,...,0,NaN,NaN,1807,0,0,71YOF SLIPPED AND FELL TO HER WET KITCHEN FLOO...,M,63,103.2251
3,160101852,1/1/16,71,2,0,NaN,NaN,31,64,NaN,...,0,NaN,NaN,1144,0,0,71YOF CARRYING A 50 POUND BAG AND STRAINED CHE...,M,63,103.2251
4,160101857,1/1/16,57,1,0,NaN,NaN,83,59,NaN,...,0,NaN,NaN,464,0,0,57YOM DROPPED A KNIFE ONTO LEFT FOOT LACERATIO...,M,63,103.2251

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1791854 entries, 0 to 309369
Data columns (total 25 columns):
 #   Column             Dtype
---  ------             -----
 0   CPSC_Case_Number   int64
 1   Treatment_Date     object
 2   Age                int64
 3   Sex                int64
 4   Race               int64
 5   Other_Race         object
 6   Hispanic           float64
 7   Body_Part          int64
 8   Diagnosis          int64
 9   Other_Diagnosis    object
 10  Body_Part_2        float64
 11  Diagnosis_2        float64
 12  Other_Diagnosis_2  object
 13  Disposition        int64
 14  Location           int64
 15  Fire_Involvement   int64
 16  Alcohol            float64
 17  Drug               float64
 18  Product_1          int64
 19  Product_2          int64
 20  Product_3          int64
 21  Narrative          object
 22  Stratum            object
 23  PSU                int64
 24  Weight             float64
dtypes: float64(6), int64(13), object(6)
memory usage: 387.7+ MB

### Reduce DataFrame Size

Filter results to only diplay firework related incidents 
* *Fireworks product code is '1313'*

In [12]:
df1 = df.query('(Product_1 == 1313) | (Product_2 == 1313) | (Product_3 == 1313)')
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1532 entries, 57 to 308881
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CPSC_Case_Number   1532 non-null   int64
 1   Treatment_Date     1532 non-null   object
 2   Age                1532 non-null   int64
 3   Sex                1532 non-null   int64
 4   Race               1532 non-null   int64
 5   Other_Race         88 non-null     object
 6   Hispanic           701 non-null    float64
 7   Body_Part          1532 non-null   int64
 8   Diagnosis          1532 non-null   int64
 9   Other_Diagnosis    146 non-null    object
 10  Body_Part_2        267 non-null    float64
 11  Diagnosis_2        267 non-null    float64
 12  Other_Diagnosis_2  28 non-null     object
 13  Disposition        1532 non-null   int64
 14  Location           1532 non-null   int64
 15  Fire_Involvement   1532 non-null   int64
 16  Alcohol            701 non-null    float64
 17  Drug               701 non-null    float64
 18  Product_1          1532 non-null   int64
 19  Product_2          1532 non-null   int64
 20  Product_3          1532 non-null   int64
 21  Narrative          1532 non-null   object
 22  Stratum            1532 non-null   object
 23  PSU                1532 non-null   int64
 24  Weight             1532 non-null   float64
dtypes: float64(6), int64(13), object(6)
memory usage: 311.2+ KB

### Reduce Columns 

Remove unnecessary columns

In [25]:
# reduce df size and clean na values
df2 = df1[['Treatment_Date','Age','Sex','Body_Part','Diagnosis','Disposition','Location','Alcohol','Drug','Narrative']].fillna('').reset_index(drop=True)

df2.head()

,Treatment_Date,Age,Sex,Body_Part,Diagnosis,Disposition,Location,Alcohol,Drug,Narrative
0,1/1/16,39,1,77,53,1,1,,,39YOM WAS LIGHTING BOTTLE ROCKETS AND ONE FLEW...
1,1/1/16,10,1,82,51,1,1,,,10YOM SUSTAINED A THERMAL BURN TO HAND AFTER H...
2,1/1/16,35,1,31,62,4,0,,,35YOM HIT IN THE CHEST WITH A MORTAR TYPE FIRE...
3,1/1/16,13,1,77,53,1,0,,,13YOM SOMEONE POINTED FIREWORKS AT HIM FROM 10...
4,1/1/16,216,1,31,51,1,0,,,16MOM FAMILY PLAYING WITH FIREWORKS AND ONE SH...

In [26]:
# Fix Sex columns
df2.Sex = df2.Sex.replace(1,"Male").replace(2,"Female")
df2.head(2)

,Treatment_Date,Age,Sex,Body_Part,Diagnosis,Disposition,Location,Alcohol,Drug,Narrative
0,1/1/16,39,Male,77,53,1,1,,,39YOM WAS LIGHTING BOTTLE ROCKETS AND ONE FLEW...
1,1/1/16,10,Male,82,51,1,1,,,10YOM SUSTAINED A THERMAL BURN TO HAND AFTER H...

In [27]:
local_df = pd.read_pickle('df_incident_local.pkl')
local_df

   Code                Incident Locale
0     1                           Home
1     2                     Farm/Ranch
2     4              Street or highway
3     5          Other public property
4     6     Manufactured (mobile) home
5     7               Industrial place
6     8                         School
7     9  Place of recreation or sports
8     0                   Not recorded

In [29]:
# fix Incident Locale
df3 = pd.merge(df2, local_df, left_on='Disposition', right_on='Code').drop(['Code','Location'],axis=1)
df3.sample(3)

,Treatment_Date,Age,Sex,Body_Part,Diagnosis,Disposition,Alcohol,Drug,Narrative,Incident Locale
34,6/25/16,30,Male,30,51,1,,,"30 YOM WATCHING FIREWORKS@ RACEWAY, FIREWORK T...",Home
245,2/22/17,18,Male,82,51,1,,,18 YOM PICKED UP A FIRECRACKER (TYPE P) THINKI...,Home
901,4/18/20,58,Male,77,53,1,0.0,0.0,58 YOM C/O EYE ABRASION S/P OPENING A CONTAINE...,Home

In [30]:
body_part_df = pd.read_pickle('df_body_part.pkl')
body_part_df

    Code          Body_Part
0      0           Internal
1     30           Shoulder
2     31        Upper Trunk
3     32              Elbow
4     33          Lower Arm
5     34              Wrist
6     35               Knee
7     36          Lower Leg
8     37              Ankle
9     38       Pubic Region
10    75               Head
11    76               Face
12    77            Eyeball
13    79        Lower Trunk
14    80          Upper Arm
15    81          Upper Leg
16    82               Hand
17    83               Foot
18    84   25-50'%' of Body
19    85  All Parts of Body
20    87         Not Stated
21    88              Mouth
22    89               Neck
23    92             Finger
24    93                Toe
25    94                Ear

In [33]:
# fix Body Part
df4 = pd.merge(df3, body_part_df, left_on='Body_Part', right_on='Code').drop(['Code','Body_Part_x'],axis=1)
df4.rename(columns={'Body_Part_y':'Body_Part'},inplace=True)
df4.sample(3)

,Treatment_Date,Age,Sex,Diagnosis,Disposition,Alcohol,Drug,Narrative,Incident Locale,Body_Part
84,7/10/18,10,Female,53,1,,,10 YOF AND MOTHER WERE SETTING OFF FIREWORKS; ...,Home,Eyeball
20,7/4/16,3,Male,53,1,,,3 YO M WITH A CONTUSION TO L EYEBALL WHEN A PO...,Home,Eyeball
1496,7/6/16,4,Female,51,1,,,4 YOF PATIENT'S SISTER TOUCHED SPARKLER FIREWO...,Home,Knee

In [34]:
# import Diagnosis pkl
diagnosis_df = pd.read_pickle('df_diagnosis.pkl')
diagnosis_df

                                           Diagnosis1  Code
0                             Ingested foreign object    41
1                            Aspirated foreign object    42
2           Burns, electrical 46 Burns, not specified    47
3            Burns, scald (from hot liquids or steam)    48
4                    Burns, chemical (caustics, etc.)    49
5                                          Amputation    50
6         Burns, thermal (from flames or hot surface)    51
7                                         Concussions    52
8                               Contusions, Abrasions    53
9                                            Crushing    54
10                                        Dislocation    55
11                                       Foreign body    56
12                                           Fracture    57
13                                           Hematoma    58
14                                         Laceration    59
15                                      Dental injury    60
16                                       Nerve damage    61
17                              Internal organ injury    62
18                                           Puncture    63
19                                   Strain or Sprain    64
20                                             Anoxia    65
21                                         Hemorrhage    66
22                                     Electric shock    67
23                                          Poisoning    68
24                    Submersion (including Drowning)    69
25                                   Other/Not Stated    71
26                                           Avulsion    72
27  Burns, radiation (includes all cell damage by ...    73
28                         Dermatitis, Conjunctivitis    74

In [41]:
# fix Diagnosis
df5 = pd.merge(df4, diagnosis_df, left_on='Diagnosis', right_on='Code').drop(['Code','Diagnosis'],axis=1)
df5.rename(columns={'Diagnosis1':'Diagnosis'},inplace=True)
df5.sample(3)

,Treatment_Date,Age,Sex,Disposition,Alcohol,Drug,Narrative,Incident Locale,Body_Part,Diagnosis
400,11/8/16,34,Male,1,,,34YOM BURN HAND PLAYING W/ SPARKLER FIREWORK- ...,Home,Hand,"Burns, thermal (from flames or hot surface)"
42,7/4/18,11,Female,1,,,"11 YOF INJURED EYE,PLAYING WITH FIRECRACKERS W...",Home,Eyeball,"Contusions, Abrasions"
475,7/14/18,33,Male,1,,,33YOM C/O BURNS BILAT HANDS & FOREARM FROM 4TH...,Home,Hand,"Burns, thermal (from flames or hot surface)"

In [42]:
# import Disposition pkl
disposition_df = pd.read_pickle('df_disposition.pkl')
disposition_df

   Code                                        Disposition
0     1                     Treated/Untreated and Released
1     2        Treated and transferred to another hospital
2     3           Treated and admitted for hospitalization
3     4                               Held for observation
4     5                            Left without being seen
5     6                        Left against medical advice
6     7                             Left without treatment
7     8  Eloped Fatality/DOA/died in the ED/Died after ...
8     9                                       Not recorded

In [45]:
# fix Disposition
df6 = pd.merge(df5, disposition_df, left_on='Disposition', right_on='Code').drop(['Code','Disposition_x'],axis=1)
df6.rename(columns={'Disposition_y':'Disposition'},inplace=True)
df6.sample(3)

,Treatment_Date,Age,Sex,Alcohol,Drug,Narrative,Incident Locale,Body_Part,Diagnosis,Disposition
781,7/6/19,6,Female,0.0,0.0,6YOF W/PARTIAL THICKNESS BURN TO THE BACK OF R...,Home,Lower Leg,"Burns, thermal (from flames or hot surface)",Treated/Untreated and Released
951,1/2/17,11,Male,,,"11YOM W/LAC TO EYEBROW,PERIORBITAL BRUISING,VI...",Home,Face,Laceration,Treated/Untreated and Released
758,7/6/16,9,Male,,,9 YOM BURN OCCURED WHILE PLAYING WITH FIREWORK...,Home,Ear,"Burns, thermal (from flames or hot surface)",Treated/Untreated and Released

In [ ]:
# export out pickel of cleaned data
df6.to_pickle('clean.pkl')